* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color:#222;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100;
  margin: 0;;
}

a {
  color: #fff;
}

a:visited {
  color: rgb(115, 136, 96);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  width: 100vw;
  border-radius: 0;
  height: 350px;
  overflow:hidden;
  position: relative;
  box-shadow: 0 0 1rem #333;
  background-color: hsl(23, 10%, 31%);
}

.profile_photo {
  position: absolute;
  left: 0;
  top: -90px;
  border-radius: 0 50% 50% 0;
  box-shadow: 0 0 1rem #333;
  z-index: 5;
}

header h1 {
  margin: 0;
  font-weight: 500;
}

header h1 span {
  font-size: 2.5rem;
}

header p {
  font-style: italic;
  margin: 0;
}

/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main h3 {
  margin: 1rem 1rem .25rem 1rem;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem #333;
  height: 250%;
  width: 90%;
  border-radius: 0 50% 50% 0;
  position: absolute;
  padding-left: 400px;
}

.title-tab {
  background-color: rgb(115, 136, 96);
  right: 200px;
  text-align: center;
}

.about-tab {
  background-color: rgb(100, 136, 136);
  right: 150px;
}

.contact-tab {
  background-color: rgb(141, 103, 117);
  right: 100px;
}