/* TOC */

/* 1. GENERAL */
/* 2. TYPOGRAPHY */
/* 3. LAYOUT OVERALL */
/* 4. BUTTONS */
/* 5. CONTENTS */


/* ~~ 1. GENERAL */

header {
  position: relative;
  height: 350px;
  width: 100vw;
  border-radius: 0;
  overflow:hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* */

/* ~~ 2. TYPOGRAPHY */

header h1 {
  margin: 0;
  font-size: clamp(1.5rem, 3.25vw, 2rem);
}

header h1 span {
  font-size: clamp(1.7rem, 4vw, 2.5rem);
}

header h2 {
  margin: clamp(.25rem, 1.5vw, 1.5rem) 0;
}

header h3 {
  font-size: 1rem;
}

.contact-line h3 {
  margin: .25rem;
}

header p {
  margin: 0;
  font-size: clamp(.8rem, 1.8vw, 1rem);
}

/* */

/* ~~ 3. LAYOUT OVERALL */

.tab {
  position: absolute;
  top: -575px;
  height: 1500px;
  width: 2000px;
  border-radius: 0 50% 50% 0;
  box-shadow: 0 0 1rem #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all .3s cubic-bezier(.73,1.34,.53,.95);
}

.profile-circle {
  left: -1630px;
  overflow: hidden;
  z-index: 5;
}

.profile-photo {
  position: absolute;
  right: 0;
  height: 350px;
  width: 370px;
  background-image: url("images/profile_foto_desaturated.jpeg");
  background-size: cover;
  background-position: 50%;
}

.title-tab {
  right: 10vw;
}

.title-tab.closed {
  right: calc(97vw - 370px); 
  /* 97vw b/c I want a 3vw offset. 370px is about the width of the profile photo. */
}

.about-tab {
  right: 7vw;
}

.about-tab.closed {
  right: calc(94vw - 370px); 
  /* 94vw b/c I want a 3vw + 3vw offset. 370px is about the width of the profile photo. */
}

.contact-tab {
  right: 4vw;
}

.contact-tab.closed {
  right: calc(91vw - 370px); 
  /* 91vw b/c I want a 3vw + 3vw + 3vw offset. 370px is about the width of the profile photo. */
}

/* */

/* ~~ 4. BUTTONS */

.tab button {
  position: relative;
  left: 15px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 0 45% 45% 0;
  box-shadow: .5rem 0 .65rem -.15rem rgba(51, 51, 51, .5);
}

.topline, .bottomline {
  transition: all .3s linear;
  transform-origin: 50%;
}

.tab.closed .topline {
  transform: rotate(-90deg)
             translateY(25px);
}

.tab.closed .bottomline {
  transform: rotate(90deg)
             translateY(-25px);
}

/* */

/* ~~ 5. CONTENTS */

.header-content-wrapper {
  width: calc(91vw - 370px);
  text-align: center;
  padding: 0 10vw;
}

.tab-content-wrapper {
  position: relative;
  width: calc(90vw - 430px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s linear;
}

.about-wrapper {
  padding: 0 5vw;
}

.contact-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

/* ~~ MEDIA QUERIES */

@media screen and (max-width: 740px) {

  header {
    height: calc(470px + 12vh);
    justify-content: end;
    align-items: end;
  }

  header p {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .tab {
    height: 2000px;
    border-radius: 50%;
    align-items: end;
    justify-content: center;
  }

  .profile-circle {
    left: calc(-500px + 50vw);
    height: 500px;
    width: 500px;
    top: -100px;
  }

  .profile-photo {
    position: absolute;
    right: 0;
    height: 400px;
    width: 50vw;
    background-image: url("images/profile_foto_desaturated.jpeg");
    background-size: cover;
    background-position: 50%;
  }

  .profile_photo {
    top: 50px;
  }

  .title-tab {
    left: calc(-1000px + 50vw);
    top: -1530px;
  }

  .title-tab.closed {
    top: calc(-100px - 2vh);
    left: calc(-500px + 48vw);
    width: calc(500px + 4vh);
    height: calc(500px + 4vh);
    transform: rotate(-80deg);
  }

  .about-tab {
    left: calc(-1000px + 50vw);
    top: calc(-1530px + 4vh);
  }

  .about-tab.closed {
    top: calc(-100px - 4vh);
    left: calc(-500px + 46vw);
    width: calc(500px + 8vh);
    height: calc(500px + 8vh);
    transform: rotate(-70deg);
  }
  
  .contact-tab {
    left: calc(-1000px + 50vw);
    top: calc(-1530px + 8vh);
  }

  .contact-tab.closed {
    top: calc(-100px - 6vh);
    left: calc(-500px + 44vw);
    width: calc(500px + 12vh);
    height: calc(500px + 12vh);
    transform: rotate(-60deg);
  }

  .tab button {
    transform: rotate(90deg);
    top: 15px;
    left: 0;
  }

  .tab-content-wrapper {
    width: 50vw;
    height: calc(470px + 4vh);
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 3rem;
  }

  .contact-wrapper {
    height: 70vh;
    left: 49%;
  }

  .header-content-wrapper {
    width: 50vw;
    height: 70vh;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 530px) {

  header {
    height: 100vh;
    justify-content: center;
    align-items: end;
  }

  header h2 {
  font-size: 1.25rem;
  }

  header p {
    margin: 0;
    font-size: clamp(.8rem, 1.8vw, 1rem);
  }

  .tab {
    left: calc(-500px + 50vw);
    height: 1000px;
    width: 1000px;
    border-radius: 0 0 50% 50%;
    align-items: end;
    justify-content: center;
  }

  .profile-circle {
    top: calc(-1000px + 55vh);
    overflow: hidden;
    z-index: 5;
  }

  .profile-photo {
    height: 55vh;
    width: 100vw;
    background-image: url("images/profile_foto_desaturated.jpeg");
    background-size: cover;
    background-position: 50%;
    right: auto;
  }
  
  .contact-tab {
    top: calc(-1000px + 96vh);
  }

  .contact-tab.closed {
    top: calc(-1000px + 67vh);
    left: auto;
    right: auto;
    width: 1000px;
    height: 1000px;
    transform: rotate(0deg);
  }

  .about-tab {
    top: calc(-1000px + 92vh);
  }

  .about-tab.closed {
    top: calc(-1000px + 63vh);
    left: auto;
    right: auto;
    width: 1000px;
    height: 1000px;
    transform: rotate(0deg);
  }

  .title-tab {
    top: calc(-1000px + 88vh);
  }

  .title-tab.closed {
    top: calc(-1000px + 59vh);
    left: auto;
    right: auto;
    width: 1000px;
    height: 1000px;
    transform: rotate(0deg);
  }

  .tab button {
    position: relative;
    transform: rotate(90deg);
    top: 15px;
    left: 0;
    border-radius: 0 45% 45% 0;
    box-shadow: .5rem 0 .65rem -.15rem rgba(51, 51, 51, .5);
  }

  .tab-content-wrapper {
    display: block;
    width: 100vw;
    height: 35vh;
    position: absolute;
    left: calc(500px - 50vw);
    bottom: 0;
  }

  .about-wrapper {
    padding: 0 5vw;
    height: 31vh;
  }

  .about-wrapper p {
    font-size: clamp(.8rem, 3vw, 1rem);
    line-height: .8rem;
  }

  .header-content-wrapper {
    width: auto;
    height: 35vh;
    padding: 5vw;
  }

  .contact-line {
    justify-content: center;
  }

}