.footer {
  display: flex;
  flex-direction: column;
  background-color: #233848;
  align-items: center;
  /* justify-content: center; */
  padding-top: var(--spc-m);
  padding-bottom: var(--spc-xs);
  color: #fafafa;
  gap: var(--spc-2xs);
}

.footer__logo {
  height: 100px;
}

.copyright {
  font-size: var(--fs-100);
}