main {
  padding: var(--spc-l) var(--spc-l);
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  main {
    padding: var(--spc-l) var(--spc-m);
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: var(--spc-l) var(--spc-s);
  }
}

main > * {
  margin: 0 auto;
  max-width: 600px;
}

main img {
  border-radius: 50vw;
  filter: drop-shadow(0 0 4px #233848);
}

main h2, h3 {
  margin-top: var(--spc-l);
  margin-bottom: var(--spc-s);
  text-align: center;
}

main h2 {
  font-size: var(--fs-500);
}

main h3 {
  font-size: var(--fs-400);
}

main p {
  text-align: justify;
  font-size: var(--fs-300);
}