@use "../abstracts/" as *;

form {
  accent-color: clr(primary, 400);
}

fieldset {
  padding: 1rem;
  color: clr(neutral, 900);
  border: none;
  margin-bottom: 4rem;
}

label {
  display: block;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

input[type="submit"] {
  width: auto;
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  background-color: clr(primary, 400);
  color: clr(neutral, 900);
}

select option {
  color: red;
}
