@use "../abstracts/" as *;

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav {
  --flex-column-gap: #{size(48)};
  z-index: 100;
  width: 100%;
  outline: 10px solid clr(neutral, 100);
  padding: 2px 0;

  a {
    transition: ease 400ms;
  }

  a:is(:hover, :focus) {
    opacity: 0.7;
    text-decoration: underline;
  }
}

.primary-nav {
  transition: outline 500ms;
  padding: 6px 0;
  position: relative;
  top: 9px;
  font-weight: 300;

  &.unstuck {
    outline: none;
  }
}

.ig-logo {
  height: 30px;
  stroke-width: 1px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.nav-logo {
  height: 70px;
  position: absolute;
  top: -0.65rem;
  transition: 500ms;
  opacity: 1;
  left: 0;
}

.primary-nav.unstuck .nav-logo {
  opacity: 0;
  left: -10rem;
}
