@use "../abstracts/" as *;

.projetos {
  --gap-grid: 1rem;
  margin-top: 6rem;
  position: relative;
  z-index: 5;
}

.scroll-anchor {
  position: absolute;
  top: -120px;
}

.projeto {
  border-radius: 2px;
  overflow: hidden;
  transition: 500ms;
  position: relative;
  cursor: pointer;
  aspect-ratio: 3 / 2;
  display: flex;

  &:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 12px #bebebe, -3px -3px 6px #f1f1f1;

    & .projeto-title {
      opacity: 1;

      &::after {
        height: 100%;
      }
    }
  }

  &-preview {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
  }

  &-title {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-block: 6px;
    font-family: $ff-base;
    font-weight: 400;
    opacity: 0;
    transition: 750ms;
    color: clr(neutral, 100);

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(clr(neutral, 900), 0.8);
      content: "";
      z-index: -1;
      transition: 500ms;
    }
  }
}

.projeto-profile {
  height: 450px;
  display: grid;
  grid-template-columns: [title-start desc-start] 0px [feature-start desc-end] 1fr [title-end feature-end];
  grid-template-rows: [thumbs-start title-start] auto [title-end feature-start desc-start] 1fr [thumbs-end feature-end desc-end];
  row-gap: 1rem;
  column-gap: 0;
  padding: 1rem;
  transition: 400ms;

  & .projeto-profile-desc {
    font-size: 0;
    padding: 0;
  }

  &:has(.info-toggle.open) {
    grid-template-columns: [title-start desc-start] 300px [feature-start desc-end] 1fr [title-end feature-end];

    & .projeto-profile-desc {
      font-size: fs(200);
      padding: 1rem;
      transition: 400ms;
    }
  }

  .current-img-container {
    grid-area: feature;
    overflow: hidden;
    object-position: center;
    position: relative;
    background-color: clr(neutral, 200);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: 200ms;
      position: absolute;
    }

    .contain {
      object-fit: contain;
    }
  }

  img.current-img {
    opacity: 1;
  }

  .projeto-profile-title {
    grid-area: title;
    padding-left: 1rem;
  }

  .projeto-profile-desc {
    grid-area: desc;
    z-index: 10;
    max-width: 300px;
    height: 100%;
    // font-size: fs(200);
    // padding: 1rem;
    color: clr(neutral, 100);
    background-color: rgba(clr(neutral, 900), 1);
    position: relative;
  }

  .img-carousel {
    grid-area: thumbs;
    width: 100%;
    display: contents;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: 100%;
  }
}

.info-toggle {
  position: absolute;
  height: 30px;
  aspect-ratio: 1;
  right: -30px;
  top: 20px;
  background-color: rgba(clr(neutral, 900), 0.8);
  opacity: 0.7;
  padding: 0.25rem;
  border-radius: 0 50% 50% 0;
  border: none;

  &:hover {
    opacity: 1;
  }
}

.image-toggle {
  position: absolute;
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  color: clr(neutral, 200);
  background-color: rgba(clr(neutral, 900), 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  bottom: 1rem;

  &:hover {
    opacity: 1;
  }

  & svg {
    stroke: none;
    fill: clr(neutral, 100);
  }
}

.previous-image {
  left: 1rem;
  transform: rotate(180deg);
}

.next-image {
  right: 1rem;
}

//Hide scrollbar: (not working yet)
.img-carousel,
.outer-carousel-container {
  width: 200px;
  height: 450px;
}

.outer-carousel-container {
  position: relative;
  overflow: hidden;
}

.inner-carousel-container {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.inner-carousel-container::-webkit-scrollbar {
  display: none;
}
