:root {
  --light: whitesmoke;
  --dark: #111;
  --accent: hsl(100, 20%, 30%);
  --light-accent: hsl(100, 20%, 50%);
}

/* TOC */


body {
  color: var(--light);
  background-color: var(--dark);
  font-family: 'Taviraj', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

a,
a:visited {
  color: var(--light-accent);
}

::selection {
  background-color: var(--accent);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

/* 1. HERO */


/* ~~ 1. HERO */
.hero {
}

.hero__title {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  background: hsla(0, 50%, 5%, 70%);
  backdrop-filter: blur(2px);
  padding: 1rem 0;
  z-index: 1;
}

.hero__figure {
  width: 100%;
  max-width: 900px;
  position: relative;
  overflow: hidden;
  margin-top: calc(-1 * (2.5rem + clamp(1.5rem, 3.5vw, 2.5rem)));
}

.hero__caption {
  position: absolute;
  right: 0;
  padding: .15rem .75rem;
  bottom: 0;
  background: hsla(0, 50%, 5%, 70%);
  backdrop-filter: blur(2px);
  border-radius: 5px 0 0 0;
  font-size: clamp(80%, 2vw, 100%);
  box-sizing: border-box;
}

.title-line {
  display: inline-block
}
.title-line:nth-of-type(1) {
  margin-right: .5rem;
}

.hero__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/*  */

.bio {
  margin: 0 3rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio__section_title {

}

img {
  max-width: 100%;
}

hr {
  height: 0;
  width: 0;
  border-top: 3px solid var(--accent);
  border-bottom: 3px solid var(--accent);
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  margin: 1rem 0;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

br {
  margin-bottom: .75rem;
}

.credit,
.credit:visited {
  color: var(--light);
}

.cta {
  font-size: 110%
}

.links > a {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: .5rem;
}