.box-shadow-1 {
  box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.012), 0px 22px 18px rgb(0, 0, 0, 0.018),
    0px 100px 80px rgb(0, 0, 0, 0.03);
}

.box-shadow-2 {
  box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.016), 0px 22px 18px rgb(0, 0, 0, 0.024),
    0px 100px 80px rgb(0, 0, 0, 0.04);
}

.box-shadow-3 {
  box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
    0px 100px 80px rgb(0, 0, 0, 0.05);
}

.box-shadow-4 {
  box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
    0px 100px 80px rgb(0, 0, 0, 0.07);
}

.box-shadow-5 {
  box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
    0px 100px 80px rgb(0, 0, 0, 0.1);
}

.box-shadow-even-1 {
  box-shadow: 9px 9px 18px rgb(0, 0, 0, 0.18), -9px -9px 18px rgb(0, 0, 0, 0.07);
}

.box-shadow-neumorphic-1 {
  box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #f1f1f1;
}
