@use "../abstracts/" as *;

.flex-group {
  display: flex;
  column-gap: var(--flex-column-gap, $gap-flex-group);
  row-gap: var(--flex-row-gap, calc($gap-flex-group / 2));
  // width: -moz-fit-content;
  // width: fit-content;
  // flex-wrap: wrap;

  &.mx-auto {
    justify-content: center;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
