
h2 {
  margin: 0;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: max(360px, 80vw);
  gap: 1.5rem;
  margin: 1.5rem;
  padding: 0;
}

.project-card {
  height: 25rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: end;
  outline: 1px solid var(--cor2);
  outline-offset: 3px;
  transition: all .25s ease;
}

.project-card:hover {
  scale: 1.02;
}

.list-grid:has(.project-card:hover) .project-card:not(:hover) {
  scale: .98;
  filter: grayscale(65%);
}

.project-card--screenshots {
  background-size: cover;
  flex-basis: 100%;
  background-position: center;
  height: 100%;
}

.project-card__clock--screenshot1 {
  background-image: url("/Projects/Clock/screenshots/mobileMidday.png");
}

.project-card__clock--screenshot2 {
  background-image: url("/Projects/Clock/screenshots/mobileSunsetSunrise.png");
}

.project-card__clock--screenshot3 {
  background-image: url("/Projects/Clock/screenshots/mobileNight.png");
}

.project-card__ari--screenshot1 {
  background-image: url("/Projects/BioAri/screenshots/screenshotAri.png");
  background-position: top;
}

.project-card__drum--screenshot1 {
  background-image: url("/Projects/DrumKit/screenshots/DrumKit.png");
}

.project-card__animal--screenshot1 {
  background-image: url("/Projects/AnimalFarm/screenshots/AnimalFarmVert.png");
  background-position: top;
}

.project-card__hamburger--screenshot1 {
  background-image: url("/Projects/Hamburgers/screenshots/Hamburgers.png");
}

.project-card__tables--screenshot1 {
  background-image: url("/Projects/TedsTables/screenshots/TedsTables.png");
}

.project-card__photogrid--screenshot1 {
  background-image: url("/Projects/PhotoGrid/screenshots/PhotoGrid.png");
  background-position: top;
}

.project-card__photostack--screenshot1 {
  background-image: url("/Projects/SlidingPhotoStack/screenshots/PhotoStack.png");
  background-position: top;
}

.project-card__regform--screenshot1 {
  background-image: url("/Projects/RegistrationForm/screenshots/RegistrationForm.png");
  background-position: top;
}

.project-card__retroconsole--screenshot1 {
  background-image: url("/Projects/RetroConsole/screenshots/RetroConsole.png");
  background-position: top;
}

.project-card__QRCode--screenshot1 {
  background-image: url("/Projects/FEM-QRCodeComponent/screenshots/QRCodeComponent.png");
}

.project-card__prodpreview--screenshot1 {
  background-image: url("/Projects/FEM-ProdPreviewCard/screenshots/ScreenshotDesktop.png");
  background-position: top;
}

.project-card__flex04--screenshot1 {
  background-image: url("/Projects/flexchallenge04/screenshots/ResponsiveLayout.png");
  background-position: top;
}

.project-title {
  font-weight: 900;
  /* position: absolute; */
  background: linear-gradient(120deg, var(--cor5), var(--cor1), var(--cor2));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  text-align: center;
  font-size: 4rem;
  color: transparent;
  padding: 1rem;
  mix-blend-mode: screen;
  border-radius: 100vh;
  font-size: clamp(1.75rem, 6vw, 3.25rem);
}

.project-title-overlay {
  position: absolute;
}

.project-title-background {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-color: var(--cor4);
  opacity: 85%;
}

/* .multiply {
  mix-blend-mode: multiply;
}

.darken {
  mix-blend-mode: darken;
}

.saturation {
  mix-blend-mode: saturation;
}

.exclusion {
  mix-blend-mode: exclusion;
} */

.project-link:visited {
  color: var(--dark);
}