@use "../abstracts/" as *;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: $ff-base;
  font-size: fs(400);
  font-weight: $fw-regular;
  color: clr(neutral, 900);
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  padding-top: 2rem;
}
