*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

p + p {
  margin-top: 1.5em;
}
